h2 {
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  line-height: 1em;
  padding-bottom: 2em;
  color: #FB667A;
}

h2 span {
  font-weight: 700;
  text-transform: uppercase;
  color: #FB667A;
}

.footer {
  padding-top: 2rem;
}

.jumbotron {
  background-color: #1F2739;
}
