<div class="jumbotron">
  <div class="container">
    <div class="row text-center">
      <div class="col-2">
        <i class="fa fa-bug fa-5x drop-shadow vibrate"></i>
      </div>
      <div class="col-8" (click)="navigateHome()">
        <h1><span class="blue">&lt;</span>Bug<span class="blue">&gt;</span> <span class="orange"> Reporting
            System</span>
        </h1>
      </div>
      <div class="col-2">
        <i class="fa fa-bug fa-5x drop-shadow vibrate"></i>
      </div>
    </div>
  </div>
</div>
